<nav class="navbar navbar-expand-lg navbar-light bg-light navbtns">
    <div class="container-fluid">
      <span class="navbar-brand" href="#" style="font-family: 'Krona One', sans-serif;">BlogSaw</span>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/blogs">All Blogs</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link " href="/blogs/new" tabindex="-1" >Create New Blog</a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link " href="/users" tabindex="-1" >Our top contributers</a>
          </li>

          

        </ul>
        
        
        <% if(currentUser && currentUser.username.length> 0) {  %>
          
          <ul style ="list-style: none;margin: 0px" class ="p-0">
          <li class="nav-item dropdown" style = "">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hello , <%=currentUser.name%>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/user/<%=currentUser._id%>/edit">Edit Profile </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/user/<%=currentUser._id%>">View Profile</a></li>
            </ul>
          </li>
        </ul>

        <a class="nav-link " href="/logout" tabindex="-1" style="color:black;">LogOut</a>
        <%}else{%>
          <a class="nav-link " href="/login" tabindex="-1" style="color:black;">Sign In</a>
          <a class="nav-link " href="/register" tabindex="-1" style="color:black;">Sign Up</a>
        <%}%>  

        
      </div>


    </div>
  </nav>
  