*{
    margin:0px;
    padding: 0px;
    box-sizing:     border-box;
}

body{
    background-color: aqua;
}
.card img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.navbtns a{

}

.dropdown-menu{
    z-index: +1;
} 
